div.image {
    background-image: url("https://earth.stanford.edu/sites/default/files/styles/responsive_large/public/media/image/2019-12/starwars_gettyimages-510216640.jpg?itok=ie7AZuLC");
    height: 110%;
    width: 100%;
    
}